@use '../../common/scss/variables.scss' as *;
@use '../../common/scss/mixins.scss' as *;

.marquee-section {
  background: $white;
  padding: 80px 0 0 0;
  overflow: hidden;
}

.marquee {
  &__track {
    display: flex;
    align-items: center;
    gap: $spacing-4xl;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    width: max-content;

    img {
      height: 32px;
      width: auto;
      object-fit: contain;
      opacity: 0.7;
      flex-shrink: 0;

      &.marquee__img--large {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
