@use '../../common/scss/variables.scss' as *;
@use '../../common/scss/mixins.scss' as *;

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 99;
  flex-direction: column;
  padding: 80px 0 40px;
  overflow-y: auto;

  &--open {
    display: flex;
  }

  &__langs {
    display: flex;
    gap: 0;
    padding: 16px 24px;
    border-bottom: 1px solid $border;
  }

  &__lang {
    font-size: 13px;
    font-weight: 600;
    color: $text-gray;
    padding: 6px 14px;
    border-radius: $radius-md;
    transition: all $transition-fast;

    &--active {
      color: $purple;
    }

    &:hover:not(&--active) {
      color: $purple;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__link {
    font-size: 15px;
    font-weight: 500;
    color: $text;
    padding: 16px 24px;
    border-bottom: 1px solid $border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color $transition-fast;

    &--arrow::after {
      content: '';
      width: 7px;
      height: 7px;
      border-right: 2px solid $text-gray;
      border-bottom: 2px solid $text-gray;
      transform: rotate(-45deg);
      flex-shrink: 0;
    }

    &:hover {
      color: $purple;

      &::after {
        border-color: $purple;
      }
    }
  }

  &__btn {
    margin: 24px 24px 0;
    justify-content: center;
    padding: 14px;
    font-size: 15px;
  }
}
