@use '../../common/scss/variables.scss' as *;
@use '../../common/scss/mixins.scss' as *;

.services {
  padding: $spacing-5xl 0;
  background: $white;

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-2xl;
    margin-bottom: $spacing-2xl;
    align-items: center;
  }


  &__header-left {
    .section-title {
      margin-bottom: $spacing-md;
      font-family: $font-display;
      font-size: 42px;
      font-weight: 700;
    }

    p {
      color: $text-gray;
      margin-bottom: $spacing-2xl;
      font-size: 15px;
      line-height: 1.7;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  &__card {
    padding: 28px;
    border: 1px solid $border;
    border-radius: $radius-xl;
    transition: all $transition-base;
    background: $light-bg;



    &--featured {
      background: $light-bg;
      border-color: transparent;
    }

    &--purple {
      background: linear-gradient(135deg, #B829A0 0%, #6366F1 100%);
      border-color: transparent;
      color: $white;
      position: relative;
      overflow: hidden;

      h3 a {
        color: $white;
      }

      p {
        color: $white;
      }

      .services__card-icon {
        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  &__card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacing-md;
  }

  &__card-dots {
    color: rgba($white, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1;
  }

  &__card-icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-md;

    .services__card-top & {
      margin-bottom: 0;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  &__card h3 {
    font-family: $font-display;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;

    a {
      color: $purple;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__card p {
    font-size: 13px;
    color: $text-gray;
    line-height: 1.6;
  }

  &__card--purple p {
    color: $white;
  }

  &__card--purple h3 a {
    color: $white;
  }
}

@include respond-to('lg') {
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include respond-to('md') {
  .services__header {
    grid-template-columns: 1fr;
  }

  .services__grid {
    grid-template-columns: 1fr;
  }
}
