@use '../../common/scss/variables.scss' as *;
@use '../../common/scss/mixins.scss' as *;

.why-us {
  padding: $spacing-5xl 0;
  background:
    radial-gradient(ellipse 55% 80% at 35% 70%, rgba(#bcbefa, 0.90) 0%, transparent 70%),
    radial-gradient(ellipse 45% 80% at 85% 40%, rgba(#f0e3fa, 1) 0%, transparent 70%),
    $white;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-4xl;
    align-items: center;
  }

  &__left {
    p {
      color: $text  ;
      font-size: 15px;
      line-height: 1.7;
      margin-bottom: $spacing-md;
    }
  }
.link-more{
  color: $text;

  &:hover {
    border-bottom: 1px solid $text;
  }
}
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-lg;
  }

  &__item {
    padding: $spacing-xl;
    transition: transform $transition-fast;
    display: flex;
    align-items: center;
    gap: $spacing-md;



    p {
      font-size: 13px;
      color: $text;
      font-weight: 700;
    }
  }

  &__icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 80px;
      height: 80px;
    }
  }
}

@include respond-to('tablet') {
  .why-us__inner {
    grid-template-columns: 1fr;
  }
}

@include respond-to('md') {
  .why-us__inner {
    grid-template-columns: 1fr;
  }

  .why-us__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include respond-to('sm') {
  .why-us__grid {
    grid-template-columns: 1fr;
  }
}
